.todo {display: flex;justify-content: center;align-items: center;width: 100%;background-color: #f0f0f0; /* Color de fondo */}
.cambio {height: 70vh;width: 90%; /* Ancho máximo para mantener la proporción */margin: 0 auto; /* Centrar horizontalmente */overflow: hidden; 
    /* Ocultar desbordamiento */box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */border-radius: 8px; /* Bordes redondeados */position: relative;}
.contenidoExtra {position: absolute;top: 10%;left: 10%;display: block;width: 40%;}
.titulo, .descripcion, .opcion {background: rgba(0, 0, 0, 0.5); border-radius: 5px;padding: 2% 5%;color: #fff;}
.titulo {font-size: 2rem; font-weight: bold; border-radius: 5px; text-align: left;font-family: 'Courier New', Courier, monospace; 
  margin-bottom: 1%;}
.descripcion {font-size: 1.1rem; font-weight: bold; border-radius: 5px; text-align: left; }
.opcion {border-radius: 5px; text-align: center; cursor: pointer;transition: background-color 0.3s ease;}
.opcion a{font-size: 1rem;font-weight: 600;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;text-decoration: none;}
.opcion:hover {background-color: rgba(255, 255, 255, 0.8);}
.contenidoExtraA {position: absolute;bottom: 0%;left: 0%;display: block;width: 100%;}
.opcionA{border-radius: 5px; text-align: center; cursor: pointer;transition: background-color 0.3s ease;background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;padding: 1% 2%;color: #fff;box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5), 0 -2px 4px rgba(0, 0, 0, 0.3);}
.opcionA a{font-size: 1rem;font-weight: 600;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;text-decoration: none;}
.opcionA:hover {background-color: rgba(255, 255, 255, 0.8);}
.controles {position: absolute;top: 50%;transform: translateY(-50%);width: 100%;
  display: flex;justify-content: space-between;}
.anterior,.siguiente {background-color: rgba(0, 0, 0, 0.2);color: white;border: none;cursor: pointer;padding: 2% 2%;
  font-size: 1.2rem;outline: none;transition: background-color 0.3s ease;
}
.anterior:hover,.siguiente:hover {background-color: rgb(0, 0, 0);}
